



/* black - #000000  
navy - #14213D
gold - #FCA311  (accent)
light gray - #E5E5E5 
white = #FFFFFF */
body{
    margin: 0px;
    padding: 0px;
 }
 .bg-black{
     background-color: black;
 }
 .bg-navy{
     background-color: #14213D;
 }
 .bg-accent{
     background-color: #FCA311;
 }
 .bg-lightGray{
     background-color: #E5E5E5;
 }
 .txt-black{
     color: black;
 }
 .txt-navy{
     color: #14213D;
 }
 .txt-accent{
     color: #FCA311;
 }
 .txt-lightGray{
     color: #E5E5E5;
 }




